<div class="card filters">
    <div class="card-header">
        <b style="font-size: medium;">Filter by price</b>
    </div>
    <div class="card-body">
        <form #priceFilter = "ngForm" (ngSubmit) = "onClickSubmit(priceFilter.value)" >
            <div class="form-group">
                <label for="from">Max</label>
                <input type="number" id="from" class="form-control" name = "maximum" placeholder = "Maximum" [value]="max" ngModel required >
            </div>
            <div class="form-group">
                <label for="to">Min</label>
                <input type="number" id="to" class="form-control" name = "minimum" placeholder = "Minimum" [value]="min" ngModel required >
            </div>
            <button class="btn btn-success btn-block btn-sm">Search</button>
        </form>
        <button class="btn btn-primary btn-block btn-sm" id="reset" (click) = "reset()">Reset</button>
    </div>
</div>
