<div class="card filters">
    <div class="card-header">
        <b style="font-size: medium;">Filter by price</b>
    </div>
    <div class="card-body">
        <form #priceFilter = "ngForm" (ngSubmit) = "onClickSubmit(priceFilter.value)" >
            <div class="form-group">
                <label for="from">From</label>
                <input type="number" id="from" class="form-control" name = "maximum" placeholder = "Maximum" ngModel>
            </div>
            <div class="form-group">
                <label for="to">To</label>
                <input type="number" id="to" class="form-control" name = "minimum" placeholder = "Minimum" ngModel>
            </div>
            <button class="btn btn-success btn-block btn-sm">Search</button>
        </form>
        <button class="btn btn-primary btn-block btn-sm" id="reset" (click) = "reset()">Reset</button>
    </div>
</div>
