<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]=productItem.imageUrl >

    <div class="card-body">
        <p class="card-text">
            <strong> {{productItem.price | currency: 'CNY'}} </strong>
        </p>
        <p class="card-text">{{productItem.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-info">More info</button>
                <button 
                type="button" 
                class="btn btn-sm btn-outline-success"
                (click)="handleAddToCart()"
                >Add to cart</button>
            </div>
        </div>
    </div>
  </div>