.successMsg{
    position: absolute;
    margin-left: 70%;
    margin-top: 1%;
    cursor: pointer;
}

.nav-item{
    font-size:larger;
}

#cart{
    margin-left: 70%;
}

#logo{
    font-size: x-large;
    text-decoration: none;
    color: white;
}