<div class="wrapper fadeInDown">
    <div id="formContent">
    <div class="fadeIn first" >
        <mat-icon>password</mat-icon>
    </div>
    
    <form [formGroup]="form">
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username" formControlName="username">
        <div class="pswdProtect" >
        <h5 class="fadeIn second">Password protection</h5>
        <select class="form-control fadeIn second" id="exampleFormControlSelect1">
            <option>Favorite color?</option>
            <option>Pet name?</option>
            <option>University name?</option>
            <option>Most precious item?</option>
            <option>Mother's name?</option>
        </select>
        </div>
        <input type="text" id="answer" class="fadeIn second" name="answer" placeholder="Answer" formControlName="answer">
        <h5 style="color:limegreen;" *ngIf="question==='true'"> new password is: SD2skgo25x</h5>
        <input type="submit" class="fadeIn fourth" value="Reset Password" (click)="reset()">
    </form>
    </div>
</div>